/* body{
    background-color: red;
} */
@media screen and (max-width:780px){ 
    #service{
        flex-direction: column;
        
    }
    #container{
        flex-direction: column;
    }
    /* .logo{
        margin-left: 135px;
        margin-top: 15px;
    } */
    #home{
      height: 335px;
    }
    #home h1 {
        font-size: 24px;
        
    }
    #home p {
        font-size: 12px;
    }
    #client-section{
        overflow: hidden;
    }
    #container ul li a{
        font-size: 1rem;
        padding: 0px 10px;
    }
    #home h1 {
        font-size: 16px;
    }
    #home p {
        font-size: 8px;
    }
    .btn {
        font-size: 10px;
        font-weight: bold;
        height: 22px;
        width: 72px;
        margin-top: 5px;
    }
    #thirdSection {
        margin-top: 50px;
    }
    .clients{
        flex-wrap: wrap;
    }
    
}
/* @media screen and (max-width:411px) {
    #thirdSection {
        margin-top: 190px;
    }
    
} */

@media screen and (min-width:400px) {
    #thirdSection {
        margin-top: 345px;
    }
    
}


